* {
 box-sizing: border-box;
}

body {
  width:1200px; height:700px; margin: auto;
  padding: 50px;
}

/***************************************/
.menu {
  border: 2px solid #000000;
  float:right;
}

header {
  background-color: rgb(255, 79, 79);
  border: 5px solid rgb(0, 0, 0);
  height:150px;
}

.title {
  display:inline-block;
  border: 5px solid rgb(0, 0, 0);
  text-align: center;
  margin: 20px;
}

.menu_Accommodation {
  background-color: rgb(255, 222, 222);
  border: 2px solid rgb(162, 0, 255);
  height:50px;
}

main {
  display: flex;
  height:500px;
}
.booking {
  background-color: rgb(255, 209, 209);
  border: 2px solid rgb(36, 181, 58);
  height:200px;
  width: 60%;
  text-align:center;
}
main>section {
  border: 2px solid black;
  height: auto;
  width: 20%;
  padding:50px;
}

.ft {
  background-color: rgb(255, 230, 230);
  border: 2px solid rgb(0, 60, 255);
  height:50px;
}
/*********************************************/

a {
  /* 밑줄 제거 */
text-decoration: none;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #ffffff;
}

li {
float: left;
border-right: 1px solid #bbb; /*링크 구분선*/
}

li a {
display: inline-block;
color: rgb(0, 0, 0);
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover {
background-color: #ffafaf;
}


/* 드롭다운 */
li.dropdown {
display: inline-block;
}
.dropdown-menu {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-menu a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.dropdown-menu a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-menu {
display: block;
}
/*************************/


.active {
background-color: red;
}

