div {
    border: 1px solid black;
    background-color: lightblue;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

div.four {
    border: 1px solid black;
    padding: 25px 50px 75px 100px;
    background-color: rgb(200, 255, 204);
}