.main {
    width: 400px;
    height: 400px;
    background-color: aquamarine;
    display: flex;
    flex-direction: row-reverse;
}

.main div {
    border: 1px solid red;
    width: 50px;
    height: 50px;
}