div.sticky {
    position: sticky;
    background-color: rgb(246, 158, 158);
    border: 3px solid red;
    padding: 10px;
    top: 0;
}

.bg {
    padding-bottom: 2000px;
    background-color: aquamarine;
}