div.relative {
    width: 400px;
    height: 200px;
    position: relative;
    border: 1px solid skyblue;
}

div.absolute {
    width: 200px;
    height: 100px;
    position: absolute;
    border: 1px solid red;
    top: 80px;
    right: -10px;
}