* { margin:0; padding:0; box-sizing:border-box; color:brown; }

li { list-style:none; }
a { text-decoration:none; color:inherit; }

.wrap { position:relative; display:flex; width:1000px; height:650px; margin:0 auto; }
.main { width:800px; height:150px; background-color:beige; }

footer { display:flex; align-items:center; }
footer p { width:90%; text-align:center; }

.bottomRight { display:flex; flex-wrap:wrap; }
.bootmRight >* { width:100%; height:50px; text-align:center; }

.sns { display:flex; justify-content:space-around; align-items:center; padding-top:20px;}
.sns li { width:16%; }
.sns li img { width:100%; }
.sns, .familySite { line-height:50px; }