* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    padding: 10px;
    background-color: aqua;
}

nav {
    background-color: cadetblue;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    padding: 20px;
    text-decoration: none;
}

section {
    padding: 20px;
    background-color: coral;
}

footer {
    padding: 10px;
    background-color: darkgoldenrod;
}