* { margin:0; padding:0; }

.wrap { width:1000px; height:650px; display:flex; }

header { height:650px; width:200px; background-color: #ffbbbb;}
.main { height:650px; width:800px; }

.slide { height:350px; background-color: rgb(198, 196, 255); }

.content { height:200px; background-color: rgb(255, 255, 206); }

footer { height:100px; background-color: rgb(217, 255, 242); }