table {
    width: 100%;
    border-spacing: 10px;
}

table, th, td {
    border: 1px solid rgb(255, 255, 255);
    /* border-collapse: collapse; */
}

th, td {
    background-color: rgb(218, 255, 211);
    padding: 10px;
    border-radius: 10px;
}

tr {
    height: 100px;
}