@charset "UTF-8";

/** 기본 */
* { margin: 0; padding: 0; }

.wrap { width: 1200px; height: 700px; margin: 0 auto;}

/** 헤더 */
header { height: 100px; background-color: #ffad99; }

/** 슬라이드 애니메이션 */
.slideContent { height: 300px; background-color: #ff8080; }

/** 공지사항 */
.content { height: 200px; background-color: #ffcccc; }

/** 푸터 */
footer { height: 100px; background-color: #ffad99; }