* {
    box-sizing: border-box;
    margin: 0; padding: 0;
    text-decoration: none;
    list-style: none;
    color: inherit;
}

header {
    width: 200px; height:100%;
    border-right: 1px solid #000; padding-top:30px; color: #000;
}
header .logo { width: 200px; height: 40px; }

header nav { margin-top: 20px; }
header nav>ul { width: 180px; padding-left: 14px; }
header nav a {
    display: block;
    width: 100%;
    text-align:center;
    background-color: #fff;
    padding: 10px;
}

.menu>a:hover {
    background-color: rgb(35, 130, 237);
    color: #fff;
}

.submenu { display: none; }
.submenu li>a:hover {
    background-color: rgb(157, 196, 255);
    color: #fff;
}